.App {
  padding-bottom: 6rem;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-container > img {
  width: 4rem;
}

.title-container {
  text-align: center;

  margin: 2rem 1rem;
}

.title-container > strong {
  display: block;
  font-size: 2.5rem;
}

.page-header {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 0.4rem;

  margin: 2rem;
}

.page-header > strong {
  font-size: 1.4rem;
  margin-left: 1rem;

  display: block;
}

.vehicle-list,
.model-list {
  padding: 0.4rem;

  margin: 0 auto;
  max-width: 400px;

  list-style-type: none;

  display: flex;
  flex-direction: column;

  gap: 0.4rem;
}

.model-list {
  gap: 0.6rem;
}

.vehicle-item,
.model-item {
  flex: 1;

  padding: 0.4rem;

  text-align: center;

  display: flex;
  justify-content: space-around;

  background: #f4f4f4;
  border-radius: 0.4rem;

  transition: 0.25s;
}

.model-item {
  text-align: left;
}

.vehicle-item.used,
.model-item.used {
  filter: blur(2px);

  /* filter: ; */
}

.vehicle-item:not([data-used="true"]):hover,
.model-item:not([data-used="true"]):hover {
  transform: scale(1.015);
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.15);
}

.vehicle-item > button,
.model-item > button {
  width: 2.4rem;
  height: 2.4rem;

  border: 0;
  cursor: pointer;
  background: transparent;

  transition: 0.25s;
}

.vehicle-item > button:disabled,
.model-item > button:disabled {
  cursor: unset;
}

.vehicle-item > button:not([disabled]):hover > svg,
.model-item > button:not([disabled]):hover > svg {
  color: rgb(78, 204, 126) !important;
}

.vehicle-item > div,
.model-item > div {
  display: flex;
  gap: 1rem;

  margin: auto auto auto 2rem;
}

.model-item > div {
  gap: 0.4rem;
}

.model-item > div {
  flex-direction: column;
}

.anos-modelo {
  display: flex;
  gap: 0.4rem;
}

.anos-container {
  display: flex;
  gap: 0.2rem;
}

.anos-container > span {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 0.2rem;
  font-size: 0.8rem;

  background-color: #d7d7d7;
  border-radius: 0.4rem;
}

.vehicle-item > div > * {
  margin: auto;
}

.footer {
  position: fixed;
  bottom: 0;

  padding: 0.4rem;

  width: 100%;
  height: 4rem;

  background-color: #f4f4f4;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.15);
}

.footer > .page-button {
  padding: 0.4rem;

  border: 0;
  cursor: pointer;
  border-radius: 0.4rem;

  transition: 0.25s;

  background-color: #e6e6e6;

  text-transform: uppercase;
  font-weight: 500;

  text-decoration: none;
  color: currentColor;
}

.footer > .page-button:hover {
  transform: scale(1.25);
}

.vehicle-board {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  padding: 0.8rem;
}

.vehicle-board > .vehicle-board-item {
  padding: 0.4rem;

  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  background: #f4f4f4;
  border-radius: 0.4rem;

  transition: 0.25s;
}

.vehicle-board > .vehicle-board-item > div + div {
  padding-top: 0.4rem;
  border-top: solid 1px #e6e6e6;
}

.vehicle-board > .vehicle-board-item > div {
  display: grid;
  grid-template-columns: 1fr 1fr;

  white-space: break-spaces;
}
